body {
    font-family: 'Source Sans Pro';
    font-size: 16px;
     padding: 0;
     margin: 0;
}

p {

}

h0, h1, h2, h3 {
    font-family: 'Abril Fatface';
    letter-spacing: 110%;
}

h0 {
    font-size: 72px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
    margin-bottom: 0;
}

h3 {
    font-size: 16px;
}

 .content {
     min-height: 100vh;
     width: 50vw;
     max-width: 30em;
     /* display: flex; */
     margin: 0 auto;
     /* flex-wrap: wrap; */
     /* justify-content: flex-start; */
 }

 @media (max-width: 500px) {
     .content {
         width: 80vw;
         margin: 0 auto;
     }
 }
